.fade-away {
  user-select: none;
  pointer-events: none;
  position: absolute;
  animation: fadeAway 2s forwards;
}

@keyframes fadeAway {
  0% {
    opacity: 1;
    transform: translateX(-50%);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(-150px);
  }
}

.status-online {
  background-color: #3ba55c;
  border-color: #3ba55c;
}

.status-idle {
  background-color: #faa61a;
  border-color: #faa61a;
}

.status-dnd {
  background-color: #ed4245;
  border-color: #ed4245;
}

.status-offline {
  background-color: #747f8d;
  border-color: #747f8d;
}
