@function multiple-box-shadow($n) {
  $value: "#{random(100)}vw #{random(100)}vh hsl(var(--secondary))";
  @for $i from 2 through $n {
    $value: "#{$value} , #{random(100)}vw #{random(100)}vh hsl(var(--secondary))";
  }

  @return unquote($value);
}

$shadows-small: multiple-box-shadow(500);
$shadows-medium: multiple-box-shadow(200);
$shadows-big: multiple-box-shadow(100);

#background {
  background: radial-gradient(
    ellipse at bottom,
    hsl(var(--background)) 0%,
    hsl(var(--background-secondary)) 100%
  );
}

#stars1 {
  width: 1px;
  height: 1px;
  background: transparent;
  box-shadow: $shadows-small;
  animation: animStar 100s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 100vh;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
  }
}

#stars2 {
  width: 2px;
  height: 2px;
  background: transparent;
  box-shadow: $shadows-medium;
  animation: animStar 150s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 100vh;
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow: $shadows-medium;
  }
}
#stars3 {
  width: 3px;
  height: 3px;
  background: transparent;
  box-shadow: $shadows-big;
  animation: animStar 200s linear infinite;

  &:after {
    content: " ";
    position: absolute;
    top: 100vh;
    width: 3px;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
  }
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-100vh);
  }
}

@media (max-width: 1200px) {
  $shadows-small: multiple-box-shadow(250);
  $shadows-medium: multiple-box-shadow(100);
  $shadows-big: multiple-box-shadow(50);

  #stars1 {
    box-shadow: $shadows-small;

    &:after {
      box-shadow: $shadows-small;
    }
  }

  #stars2 {
    box-shadow: $shadows-medium;

    &:after {
      box-shadow: $shadows-medium;
    }
  }

  #stars3 {
    box-shadow: $shadows-big;

    &:after {
      box-shadow: $shadows-big;
    }
  }
}

@media (max-width: 500px) {
  $shadows-small: multiple-box-shadow(125);
  $shadows-medium: multiple-box-shadow(50);
  $shadows-big: multiple-box-shadow(25);

  #stars1 {
    box-shadow: $shadows-small;

    &:after {
      box-shadow: $shadows-small;
    }
  }

  #stars2 {
    box-shadow: $shadows-medium;

    &:after {
      box-shadow: $shadows-medium;
    }
  }

  #stars3 {
    box-shadow: $shadows-big;

    &:after {
      box-shadow: $shadows-big;
    }
  }
}
